<template name="main">
    <div id="pomodoroTimerOverlay">
        <div class="svg-container"></div>
    </div>
    {{checkIfUserIsSelectingACardset}}
    {{> mainModalConnectionStatus}}
    {{> mainModalUnderDevelopment}}
    {{> mainModalArsnovaClick}}
    {{> mainModalArsnovaLite}}
    {{> mainOverlayZoomText}}
    {{> mainOverlayAspectRatio}}
    {{> helpModal}}
    {{> mainItemSearchResult}}
    {{> mainNavigationTop}}
    {{> useCasesModal}}
    {{> impressumModalStatistics}}
    {{> mainPdfViewerModal}}
    {{> bonusUserHistoryModal}}
    <div id="main" class="{{getMainContainer}}">
        {{> yield}}
    </div>
    {{> mainNavigationFooter}}
</template>
