<template name="filterIndexItemBottomWorkloadHistory">
    <a data-id="{{this._id}}"
        class="showBonusUserHistory hidden-xs" data-toggle="modal"
       href="#bonusUserHistoryModal"><i
            class="far fa-clock"
            data-id="{{this._id}}"
            title="{{_ "leitnerProgress.tooltip.userHistory"}}"></i></a>
</template>
